@font-face {
font-family: "Grotesk";
src: url('KonstantGrotesk.otf');
}

@font-face {
font-family: "GapSans";
src: url('GapSans.ttf');
}




h1 {
  font-family: GapSans, sans-serif;
  font-size: 1em;
}

#lemenu a {
  font-family: GapSans, sans-serif;
  font-size: 2em;
  font-size: 50pt;
  font-family: GapSans, sans-serif;
  color: black;
}

#menu a:link {color: black;}
#menu a:visited {color: #095228;}
#menu a:hover {color: #FF4901;}

#menu{
   position: fixed;
   width: 100%;
   height: 30px;
   top: 0px;
   bottom: 0px;
   color: red;
}


#actu a:link {color: green;}
#actu a:visited {color: green;}
#actu a:hover {color: red;}
#actu a {
font-size: 70pt;
text-decoration: underline;
font-family: GapSans, sans-serif;

}


.introduction {
  font-family: GapSans, sans-serif;
  font-size: 2em;
  line-height:96%;
}

#conteneur {
    display: flex;
    flex-wrap: wrap;
}

#conteneur img {
  margin: 0;
 padding: 0;
}
